<% layout(_view.get('_layout/main')) -%>

<% block('title', '400') -%>

<% _data.set('breadcrumbs', [{title: 400}]) %>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <div class="error-page">
            <div class="text-center">
                <h1 class="text-danger">Bad Request</h1>
                <p>Invalid requested parameters</p>
            </div>
        </div>
    </div>
</div>
