<% layout(view.get('_layouts/content')) -%>

<div class="article-list">

    <div class="article-item">
        <div class="article-head">
            <h3><a href="">Article title</a></h3>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
        </div>
        <div class="article-body">
            <p><a href="#" class="thumbnail"><img src="img.jpg"></a></p>
            <p>Lorem ipsum dolor sit amet consectetuer lacinia nulla id feugiat eget. </p>
            <p>Vestibulum Curabitur quis nibh suscipit Vestibulum sit auctor magnis eget convallis. Tincidunt tempus tempus justo Curabitur sem.</p>
            <p>Tincidunt metus porttitor Vestibulum tempus justo laoreet lorem sagittis Vivamus.</p>
        </div>
        <div class="article-footer">
            <a href="#" class="btn btn-primary mr20">Detail...</a>
            <span class="mr20">Photos: <b>4</b></span>
            <span class="mr20">Comments: <b>45</b></span>
        </div>
    </div>

    <div class="article-item">
        <div class="article-head">
            <h3><a href="">Article title</a></h3>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
        </div>
        <div class="article-body">
            <p>Lorem ipsum dolor sit amet consectetuer lacinia nulla id feugiat eget. </p>
            <p>Vestibulum Curabitur quis nibh suscipit Vestibulum sit auctor magnis eget convallis. Tincidunt tempus tempus justo Curabitur sem.</p>
            <p>Tincidunt metus porttitor Vestibulum tempus justo laoreet lorem sagittis Vivamus.</p>
        </div>
        <div class="article-footer">
            <a href="#" class="btn btn-primary mr20">Detail...</a>
            <span class="mr20">Photos: <b>4</b></span>
            <span class="mr20">Comments: <b>45</b></span>
        </div>
    </div>

</div>