<% layout(_view.get('_layout/view')) -%>

<% block('title', 'Photo') -%>

<% _view.setData('breadcrumbs', [
    {title: 'Photos', url: 'admin/photo'},
    {title: model.getId()}
]) %>

<% block('customControls', `<button class="btn btn-warning action-submit" type="button"
    data-url="${_url(['assign-main', model])}">Assign the main</button>`) -%>

<%- partial(_view.get('_part/fields/relation'), {
    attr: 'article',
    viewRoute: 'article/view'
}) %>

<%- partial(_view.get('_part/fields/static'), {
    attr: 'title',
    escaping: false
}) %>

<div class="form-group">
    <label class="col-sm-2 control-label">Photo</label>
    <div class="col-sm-10">
        <p class="form-control-static">
            <img src="<%- model.getLarge() %>" class="thumbnail img-responsive">
        </p>
    </div>
</div>