<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="test.css">
</head>
<body>

<div class="wrapper">           
    <nav class="navbar-inverse navbar-fixed-top navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ARETO Basic App</a>
            </div>
            <div id="topnav-collapse" class="collapse navbar-collapse">
                <ul class="navbar-nav navbar-right nav">
                    <li><a>Contact</a></li>
                    <li><a>About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Main</a></li>
            </ol>
        </div>
    </div>

    <div class="container">
        <h1 class="page-header">Title</h1>
        
        <div class="row">
          
          <div class="col-sm-8">
            
            <div class="article-list">
            
              <div class="article-item">
                <div class="article-head">
                  <h3><a href="">Article title</a></h3>                  
                  <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>                  
                </div>
                <div class="article-body">
                  <p><a href="#" class="thumbnail"><img src="img.jpg"></a></p>
                  <p>Lorem ipsum dolor sit amet consectetuer lacinia nulla id feugiat eget. </p>
                  <p>Vestibulum Curabitur quis nibh suscipit Vestibulum sit auctor magnis eget convallis. Tincidunt tempus tempus justo Curabitur sem.</p>
                  <p>Tincidunt metus porttitor Vestibulum tempus justo laoreet lorem sagittis Vivamus.</p>
                </div>
                <div class="article-footer">                                     
                  <a href="#" class="btn btn-primary mr20">Detail...</a>                  
                  <span class="mr20">Photos: <b>4</b></span>
                  <span class="mr20">Comments: <b>45</b></span>                
                </div>
              </div>
              
              <div class="article-item">
                <div class="article-head">
                  <h3><a href="">Article title</a></h3>                  
                  <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>                  
                </div>
                <div class="article-body">
                  <p>Lorem ipsum dolor sit amet consectetuer lacinia nulla id feugiat eget. </p>
                  <p>Vestibulum Curabitur quis nibh suscipit Vestibulum sit auctor magnis eget convallis. Tincidunt tempus tempus justo Curabitur sem.</p>
                  <p>Tincidunt metus porttitor Vestibulum tempus justo laoreet lorem sagittis Vivamus.</p>
                </div>
                <div class="article-footer">                                     
                  <a href="#" class="btn btn-primary mr20">Detail...</a>                  
                  <span class="mr20">Photos: <b>4</b></span>
                  <span class="mr20">Comments: <b>45</b></span>                
                </div>
              </div>
              
            </div>
            
            <div class="text-center mb40">
              <ul class="pagination">
              <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </div>
            
          </div>
          
          
          
          
          <div class="col-sm-4">
            
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Search</h3>
              </div>
              <div class="panel-body">
                <div class="input-group">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Categories</h3>
              </div>
              <div class="panel-body">
                
              </div>
            </div>
            
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Popular articles</h3>
              </div>
              <div class="panel-body">
                
              </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Blog Tags</h3>
              </div>
              <div class="panel-body">                     
              </div>
            </div>
            
          </div>
          
            
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-center">© ARETO 2016 - Basic App Demo</p>
    </div>
</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>