
<% if (_widget.links) { %>
<ol class="breadcrumb">
    <% for (let i = 0; i < _widget.links.length; ++i) { %>
    <% if (i < _widget.links.length - 1) { %>
        <li>
            <a href="<%- _widget.links[i].url %>">
                <%- _widget.links[i].title %>
            </a>
        </li>
    <% } else { %>
        <li>
            <%- _widget.links[i].title %>
        </li>
    <% }} %>
</ol>
<% } %>