<% layout(view.get('_layouts/main')) -%>

<div class="row">

    <div class="col-sm-3 col-md-2">
        <%- view.createWidget({
            id: 'sideMenu',
            items: [
                {title: 'Articles', url: '/admin/article'},
                {title: 'Comments', url: '/admin/comment'},
                {title: 'Photos', url: '/admin/photo'},
                {title: 'Tags', url: '/admin/tag'},
                {title: 'Users', url: '/admin/user'}
            ]
        }) %>
    </div>

    <div class="col-sm-9 col-md-10">
        <h1 class="page-header"><%- blocks.title %></h1>
        <section class="content">
            <%- body -%>
        </section>
    </div>
</div>