<% layout(_view.get('_layout/form')) -%>

<% block('title', _t('Update article')) -%>

<% _data.set('breadcrumbs', [{
    title: 'Articles',
    url: 'admin/article'
},{
    title: model.getTitle()
}]) %>

<%- include('./form') %>

<% let photos = model.get('photos'); %>
<% if (Array.isArray(photos)) { %>
<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <p class="form-control-static thumb-list clearfix">
            <% for (let photo of photos) { %>
            <a href="<%- _url(['photo/view', photo])%>" class="thumb-item">
                <img src="<%- photo.getSmall() %>" class="thumbnail img-responsive" alt="">
            </a>
            <% } %>
        </p>
    </div>
</div>
<% } %>