<%
layout(_view.get('_layout/form'));
block('title', _t('Update article'));
block('breadcrumbs', {
    title: 'Articles',
    url: 'admin/article'
},{
    title: model.getTitle()
});
%>

<%- include('./_form') %>

<% const photos = model.get('photos'); %>
<% if (Array.isArray(photos)) { %>
<div class="form-group row">
    <label class="col-md-3 col-form-label"></label>
    <div class="col-md-9">
        <p class="form-control-plaintext thumbnail-list clearfix">
            <% for (const photo of photos) { %>
            <a href="<%- _url('photo/view', photo)%>" class="thumbnail-item">
                <img src="<%- photo.getSmall() %>" class="img-thumbnail img-fluid" alt="Photo">
            </a>
            <% } %>
        </p>
    </div>
</div>
<% } %>