<%
layout(_view.get('_layout/content'));

block('title', 'Article');

block('breadcrumbs', {
    title: 'Article',
    url: 'article'
},{
    title: model.getTitle()
});
%>

<h1 class="mt0">
    <%- model.getTitle() %>
</h1>

<div class="alert alert-info">
    SAMPLE theme
</div>