<%
layout(_view.get('_layout/main'));
block('title', '400');
block('breadcrumbs', 'Bad Request');
%>
<div class="error-page">
    <div class="text-center">
        <h1 class="page-header text-danger">Bad Request</h1>
        <p>Invalid requested parameters</p>
    </div>
</div>
