<%
layout(_view.get('_layout/main'));
block('title', '403');
block('breadcrumbs', 'Access denied');
%>
<div class="error-page">
  <div class="text-center">
    <h1 class="page-header text-danger">Access denied</h1>
    <p>Access is restricted to authorized users.</p>
  </div>
</div>
