<%
layout(_view.get('_layout/main'));
block('title', '404');
block('breadcrumbs', 'Page not found');
%>
<div class="error-page">
    <div class="text-center">
        <h1 class="page-header text-danger">Page not found</h1>
        <p>We could not find the page you are looking for.</p>
    </div>
</div>
