<%
layout(_view.get('_layout/main'));
block('title', 'Server error');
block('breadcrumbs', 'Server error');
%>
<div class="error-page">
  <div class="text-center">
    <h1 class="page-header text-danger">Server error</h1>
    <p>Right now we are working to resolve this problem.</p>
  </div>
</div>

