<% layout(_view.get('_layout/form')) -%>

<% block('title', 'Update comment') -%>

<% _data.set('breadcrumbs', [{
    title: 'Comments',
    url: 'admin/comment'
},{
    title: model.getId()
}]) %>

<%- include('./form') %>

<% let photos = model.get('photos'); %>
<% if (Array.isArray(photos)) { %>
<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <p class="form-control-static thumb-list clearfix">
            <% for (let photo of photos) { %>
            <a href="admin/photo/view?id=<%- photo.getId() %>" class="thumb-item">
                <img src="<%- photo.getSmall() %>" class="thumbnail img-responsive" alt="">
            </a>
            <% } %>
        </p>
    </div>
</div>
<% } %>