html, body {
    height: 100%; /*font-family: 'Open Sans', sans-serif;*/
}
.wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrapper > .container {
    padding: 0 15px 20px 15px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin: 20px 0;
    line-height: 1.2;
}
h1, .h1 {
    margin-top: 20px;
    font-size: 32px;
}
.grid-view th {
    white-space: nowrap;
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}
.has-error .hint-block {
    margin-top: 5px;
    color: #c00;
}
.inline-block {
    display: inline-block;
}
.full-width {
    width: 100%;
}
.not-set {
    color: #c55;
}
.width-auto {
    width: auto;
}
.label-list label {
    display: block;
    font-weight: normal;
}
table.detail-view tr th {
    width: 300px;
    text-align: right;
}
.unselectable {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav.nav-tabs {
    margin-bottom: 20px;
}
.navbar-brand {
    font-size: 26px;
}
.navbar-inverse {
    border-bottom-color: #104060;
}
.navbar-inverse, .footer-inverse {
    background-image: linear-gradient(to bottom, #206080 0, #155575 100%);
}
.navbar-inverse .navbar-brand {
    color: #d8e0e0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #d8e0e0;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a {
    background-image: linear-gradient(to bottom, #204050 0, #204050 100%);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a {
    background: #204050;
}
.navbar-inverse .navbar-toggle:focus {
    background: #103040;
}
.navbar-danger {
    background-image: linear-gradient(to bottom, #800 0, #a00 100%);
}
.nav-side {
    margin-top: 40px;
}
.nav-tabs .tabs-folder {
    display: none;
}
.nav-tabs .tabs-folder.folded {
    display: inline-block;
}
.navbar-icon-nav {
    display: none;
}
.navbar-icon-nav .navbar-nav {
    margin: 0 10px 0 0;
}
.navbar-icon-nav .nav > li {
    float: left;
}
.navbar-icon-nav .nav > li > a {
    padding-top: 14px;
    line-height: 22px;
}
.navbar-icon-nav .nav .glyphicon {
    font-size: 20px;
}
.navbar-icon-nav .navbar-right {
    float: right;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #d8e0e0;
    }
    .navbar-icon-nav {
        display: block;
    }
}
@media (max-width: 380px) {
    .navbar-icon-nav {
        display: none;
    }
}
.close {
    font-size: 22px;
    outline: 0;
}
.alert .close {
    margin: 0 -5px 0 0;
    font-size: 20px;
}
.object-view .form-group {
    margin-bottom: 5px;
}
.object-controls {
    margin-bottom: 20px;
    text-align: right;
}
.object-controls .form-control,
.object-controls .input-group {
    width: auto;
    display: inline-block;
}
.list-controls {
    margin-bottom: 30px;
}
.list-controls .form-control,
.list-controls .input-group {
    width: auto;
    display: inline-block;
}
.list-controls .input-group-btn {
    display: inline-block;
}
.list-item-controls {
    margin-bottom: 20px;
}
.dropdown.config-photo {
    margin-right: 130px;
}
.dropdown.config-photo.open {
    margin-right: 0;
}
.dropdown-menu.form-content {
    padding: 20px;
    width: 100%;
    max-width: 600px;
}
.dropdown-menu > li {
    margin-bottom: 5px;
}
.form-group.required .control-label:after {
    content: "*";
    margin-left: 2px;
    color: #f00;
}
.form-group-btn {
    margin-top: 15px;
}
.checkbox label {
    font-weight: bold;
}
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #000;
}
.remember-me {
    margin-top: -20px;
    text-align: right;
}
.breadcrumb-wrapper {
    margin-bottom: 30px;
    padding-top: 54px;
    font-size: 90%;
    background: #eee;
}
.breadcrumb-wrapper .breadcrumb {
    margin-bottom: 0;
    padding: 8px 0;
    background: none;
}
.captcha img {
    height: 36px;
}
.captcha-refresh {
    font-size: 16px;
    margin-left: 10px;
    opacity: 0.5;
    vertical-align: sub;
}
.captcha-refresh:hover {
    opacity: 1.0;
}
/***/

.mb0 {
    margin-bottom: 0 !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt40 {
    margin-top: 40px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mr20 {
    margin-right: 20px !important;
}
/*** jumbotron ***/

.jumbotron {
    padding: 20px 0 0 0;
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.jumbotron h1 {
    color: #105070;
    font-size: 54px;
}
.jumbotron .lead {
    margin: 30px 0 40px 0;
}
.container .jumbotron {
    border-radius: 0;
}
@media (max-width: 767px) {
    .jumbotron-main {
        margin: 0 -15px 0 -15px;
    }
}
@media (max-width: 420px) {
    .jumbotron h1 {
        font-size: 40px;
    }
    .jumbotron .btn {
        font-size: 80%;
    }
}
/*** BADGES ***/

.badge-draft {
    background: #000;
}
.badge-published {
    background: #58b858;
}
.badge-archived {
    background: #aaa;
}
.badge-blocked {
    background: #e00;
}
.article-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}
.article-item + .article-item {
    margin-top: 30px;
}
.article-body, .article-footer {
    margin-top: 20px;
}
.article-item .thumbnail {
    margin: 20px auto;
    max-width: 560px;
}
.list-item {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}
.list-item h3 {
    margin: 0 0 15px 0;
}
.comment-item {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}
.comment-item:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}
.comment-icon {
    float: left;
    padding: 7px 10px 3px;
    font-size: 25px;
    color: #888;
    border: 1px solid #ccc;
}
.comment-column {
    margin-left: 70px;
}
.comment-head {
    margin-bottom: 5px;
}
.tag-item {
    margin-right: 10px;
    text-decoration: underline;
}