<%
const title = 'Signed in';
_data.set('breadcrumbs', [{label: title}]);
%>

<% layout(_view.get('_layout/main')) -%>

<% block('title', title) -%>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
        <h3 class="login-box-msg">
            Signed in as
        </h3>
        <form action="auth/logout" method="post">
            <p class="text-center">
                <b><%- model.get('name') %></b>
                (<%- model.get('role') %>)
            </p>
            <p class="mt20">
                <button type="submit" class="btn btn-danger btn-block">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Sign out
                </button>
            </p>
        </form>
   </div>
</div>
