<% if (_widget.items) { %>
<div class="flex-column nav-pills nav mb-4">
  <% for (const item of _widget.items) { %>
  <a class="nav-link <%- item.active ? 'active' : ''%>" href="<%- item.url %>">
    <%- _t(item.title) %>
  </a>
  <% } %>
</div>
<% } %>