<% let title = 'Вход в систему'; %>

<% layout(_view.get('_layout/main')) -%>

<% block('title', title) -%>

<% _view.setData('breadcrumbs', [{label: title}]) %>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
        <h3 class="login-box-msg">
            Вход выполнен как
        </h3>
        <form action="auth/logout" method="post">
            <p class="text-center">
                <b><%= model.get('name') %></b>
                (<%= model.get('role') %>)
            </p>
            <p class="mt20">
                <button type="submit" class="btn btn-danger btn-block">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Выйти
                </button>
            </p>
        </form>
   </div>
</div>
