
<% if (widget.links) { %>
<ol class="breadcrumb">
    <% for (let i = 0; i < widget.links.length; ++i) { %>
    <% if (i < widget.links.length - 1) { %>
    <li><a href="<%- widget.links[i].url %>"><%- widget.links[i].title %></a></li>
    <% } else { %>
    <li><%- widget.links[i].title %></li>
    <% }} %>
</ol>
<% } %>