
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Tag List</h3>
    </div>
    <div class="panel-body">
        <% for (let tag of widget.tags) { %>
        <span class="mr10">
            <a href="/article/tagged?tag=<%= tag.get('name') %>"><%= tag.get('name') %></a>
            (<%- tag.get('articleCount') %>)
        </span>
        <% } %>
    </div>
</div>