<%
    let _label = typeof label === 'undefined' ? model.getLabel(attr) : label;
    let _item = model.get(attr);
    let _thumbSize = typeof thumbSize === 'undefined' ? undefined : thumbSize;
%>
<div class="form-group">
    <label class="col-sm-2 control-label"><%- _label %></label>
    <div class="col-sm-10">
        <div class="form-control-static">
        <% if (_item) { %>
            <a href="<%- u([viewRoute, _item]) %>">
                <img src="<%- _item.getThumb(_thumbSize) %>" class="thumbnail img-responsive">
            </a>
        <% } else { %>
            <i class="text-danger">[not set]</i>
        <% } %>
        </div>
    </div>
</div>