<%
layout(_view.get('_layout/content'));
block('title', 'Articles by category');
block('breadcrumbs', {
  title: 'Articles',
  url: 'article'
},{
  title: 'By category'
});
%>
<h3 class="page-header">
  <span class="text-muted"><%- _t('Category') %>:</span>
  <span class="text-danger"><%= category.getTitle() %></span>
</h3>

<% if (typeof provider !== 'undefined') { %>
  <%- include(_view.get('_part/list'), {itemTemplate: 'article/_listItem'}) %>
<% } else { %>
  <div class="alert alert-warning">
    <%- _t('Articles not found') %>
  </div>
<% } %>