<% layout(_view.get('_layout/content')) -%>

<% block('title', 'Articles') -%>

<% _data.set('breadcrumbs', [{
    title: 'Articles',
    url: 'article'
},{
    title: 'Tagged'
}]) %>

<h3 class="mt0 mb30">
    <%- _t('Tag') %>:
    <span class="text-danger"><%= tagName %></span>
</h3>

<% if (typeof provider !== 'undefined') { %>
<%- include(_view.get('_part/list'), {
    itemTemplate: 'article/list-item'
}) %>
<% } else { %>
<div class="alert alert-warning">
    <%- _t('Tagged articles not found') %>
</div>
<% } %>