<%
    let flashes = _controller.getFlash();
    if (flashes) {
        for (let key of Object.keys(flashes)) {
            if (key === 'danger' || key === 'warning' ||  key === 'success') {
%>
    <div class="alert alert-<%- key %> flash-alert">
        <% let flash = flashes[key]; %>
        <% for (let item of flash) { %>
            <p><%= item %></p>
        <% } %>
    </div>

<% }}} %>